page-home {
  
    .toolbar-background-md {
  
    background: #28318C;
}
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #ffffff;
    background-color: transparent;
}
select{    color: #fff;
    background-color: #28318c;
    border: none;}
    .searchbar-md .searchbar-input{
        border-radius: 10px;
            padding: 3px 41px;
    }
    .searchbar-md {
    background: #28318c;
    padding: 8px;
}
.searchbar-md .searchbar-search-icon {
    left: 16px;
    top: 8px;
   
}
.button-round-md {
    border-radius: 64px;
    padding: 10px;
    margin: 0;
}
.button-md{
    font-size: 10px;
    background-color: #444EA5;
}
.filter{
    position: relative;
    top: 12px;
        font-size: 11px;
    color: #fff;
}

.see-results, .grid_row{
    background-color: #3250D2;
}
.see-results{
    padding:15px;
    color: #fff;
    letter-spacing:0.5px;
}
.card-md{
    box-shadow: none!important;
}
.bg-row{
    
    background-color: #28318c;
    padding-bottom: 8px;
}
.left-wrapper b{
font-size: 18px;
}
.swiper-slide img {
    width: 35px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    text-align: left;
}
.free .left-wrapper {
        text-align: left;
    position: relative;
    left: 5px;
}
.pull-left{
        text-align: left;
    padding-left: 15px;
}
.text-opa{
    opacity: 0.4;
}
.left-wrapper img{
    width:50px;
}
.location{
       background-color: #3250D2;
    border: solid 1px #fff;
    border-radius: 0;
}
.grid{    box-shadow: 2px 0px 4px #000;
    margin: 4px;}

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }
ion-col{
    text-align: left;
}
 
}
